<form action=" {{ path('blog_show_createComment', {'blog_id': app.request.get('blog_id')}) }}" method="post">
  {{ form_errors(form) }}
  {% include('BlogBundle::_formErrors.html.twig') with {'form': form} only %}
  <div class="label">
    {{ form_label(form.pseudo) }}
  </div>
  <div class="render">
    {{ form_field(form.pseudo, {'class': form.pseudo.hasErrors ? "error" : "" }) }}
  </div>
  <div class="label">
    {{ form_label(form.body) }}
  </div>
  <div class="render">
    {{ form_field(form.body, {'class': form.body.hasErrors ? "error" : "" }) }}
  </div>
  {{ form_hidden(form) }}
  <input type="submit" value="Send!" />
</form>
