{% block addComment %}
<form action=" {{ path('blog_show_createComment', {'blog_id': app.request.get('blog_id')}) }}" method="post">
  <ul>
    {% for field in form.fields %}
    {% for error in field.errors %}
    <li>{{ error.messageTemplate }}</li>
    {% endfor %}
    {% endfor %}
  </ul>
  <div class="slider">
    {{ form_label(form.pseudo) }}
    {{ form_field(form.pseudo, {'class': form.pseudo.hasErrors ? "error" : "" }) }}
  </div>
  <div class="slider">
    {{ form_label(form.body) }}
    {{ form_field(form.body, {'class': form.pseudo.hasErrors ? "error" : "" }) }}
  </div>
  {{ form_hidden(form) }}
  <input type="submit" value="Send!" />
</form>
{% endblock addComment %}
