<form action="{{ notNew is defined ? path('blog_update', {'blog_id': app.request.get('blog_id')}) : path('blog_create') }}" method="post">
  {{ form_errors(form) }}
  {% include('BlogBundle::_formErrors.html.twig') with {'form': form} only %}
  <div class="label">
    {{ form_label(form.title) }}
  </div>
  <div class="render">
    {{ form_field(form.title, {'class': form.title.hasErrors ? 'error' : '' }) }}
  </div>
  <div class="label">
    {{ form_label(form.body) }}
  </div>
  <div class="render">
    {{ form_field(form.body, {'class': form.body.hasErrors ? 'error' : '' }) }}
  </div>
  {{ form_hidden(form) }}
  <input type="submit" value="Create!" />
</form>
