{% extends '::layout.html.twig' %}

{% block title %}All blogs{% endblock title %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/blog/css/blog.css') }}" />
{% endblock stylesheets %}

{% block body %}
<div id="blogs">
  {% for blog in blogs %}
  {% set s = '' %}
  {% if blog.getBlogComments.count %}
  {% set s = 's' %}
  {% endif %}
  <div class="blog" id="blog_{{blog.id}}">
    <div class="blogTitle" id="blogTitle_{{blog.id}}">
      <a href="{{ path('blog_show', {'blog_id': blog.id}) }}">{{ blog.title }}</a>
    </div>
    <div class="blogBody" id="blogBody_{{blog.id}}">
      {{blog.body}}
    </div>
    <div class="blogFooter" id="blogFooter_{{blog.id}}">
      <a href="{{ path('blog_show', {'blog_id': blog.id}) }}" >{{ blog.getBlogComments.count }}</a> Comment{{s}}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body%}
