{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }} comments{% endblock title %}

{% block body %}
<div id="blog">
  <div class="blogTitle" id="blogTitle">
    {{ blog.title }}
  </div>
  <div class="hook"></div>
  <div class="blogBody" id="blogBody">
    {{blog.body}}
  </div>
  <div id="comments">
    {% for comment in blog.getBlogComments %}
    <div class="comment" id="comment_{{comment.id}}">
      <div class="commentBody" id="commentBody_{{comment.id}}">
        {{ comment.body }}
      </div>
      <div class="commentFooter" id="commentFooter_{{comment.id}}">
        Posted by {{ comment.pseudo }} on {{ comment.updatedAt.format('F d, Y (H:i)') }} 
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div id="addCommentBlog" class="addComment">
  <fieldset>
    <legend>Add a new comment</legend>
    {% include 'BlogBundle:Comment:_form.html.twig' with {'form': form} only %}
  </fieldset>
</div>
{% endblock body %}
